@()


@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>  
  
  <section id="content" >
  <div class="wrapper doc">
  <article>
  <h2>Welcome to the Hello World Tutorial!</h2>
  <p>This tutorial introduces Play Framework, describes how Play applications work, and shows you how to create a page that displays a customized Hello World greeting. If you are reading this page in your browser, congratulations! You have successfully built and run a Play application. If not, you likely opened the source <code>index.scala.html</code> file. Please follow the directions in the <code>README.md</code> file in the top-level project directory to run the tutorial.</li>
  <p>This tutorial assumes use of <a href="http://www.scala-sbt.org/"><code>sbt</code></a> (simple build tool) from a command window, but you can also integrate Play projects with your <a href="https://playframework.com/documentation/@version/IDE" target="_blank">favorite IDE</a>.</p>

<h2 id="intro">Introduction to Play</h2>
<p>As illustrated below, Play is a full-stack framework with all of the components you need to build a web application, including: an integrated HTTP server, form validation, Cross-Site Request Forgery (CSRF) protection, RESTful web services API, and more. Play integrates with many object relational mapping (ORM) layers.  It supports Anorm, Ebean, Slick, and JPA out-of-the-box, but many customers use NoSQL or REST layers and other ORMs.</p> 
<p><img src="assets/images/play-components.png" alt="Play components"/></p>
<p>Play APIs are available in both Java and Scala. The Framework uses Scala and Akka under the hood. This endows Play applications with a stateless, non-blocking, event-driven architecture that provides horizontal and vertical scalability and uses resources more efficiently. See <a href="https://developer.lightbend.com/elastic-scaling" target="_blank">Elasticity</a> and <a href="https://developer.lightbend.com/efficient-resource-usage" target="_blank">Efficient Resource Usage</a> for more information.</p>
<p>In contrast with web frameworks that were designed to support large eco-systems, such as Java EE, Play was developed by web developers&mdash;for web development. The following describe just a few of the reasons why developers enjoy using Play framework:
<ul>
  <li>The concise and functional programming patterns are familiar to Scala developers</p>
  <li>The Model-View-Controller (MVC) architecture is a common pattern.</li>
  <li>Direct support of common web development tasks and hot reloading save precious development time.</li>
  <li>A large active community promotes knowledge sharing.</li>
  <li>Use of <a href="https://www.playframework.com/documentation/2.6.x/JavaTemplates">Twirl templates</a> to render pages. The Twirl template language is:
  <ul><li>Easy to learn.</li>
    <li>Requires no special editor.</li>
    <li>Provides type safety.</li>
    <li>Is compiled so that errors display in the browser.</li>
   </ul>
</ul></p>
<p>To learn more about Play's benefits, visit the <a href="https://playframework.com">Play website</a>. Now, let's dive into <a href="@routes.HomeController.explore">what a Play application looks like</a>.</p>

</article>
<aside>
  @commonSidebar()
</aside>
</div>

</section>
}  
}